language: python
sudo: false

git:
  submodules: false

matrix:
  include:
    - os: windows
      language: generic

addons:
  apt:
    packages:
    - ttf-dejavu

before_install:
  # Pango 1.38+ is needed to make @font-face work, remove these two lines when it's available on Travis
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then mkdir -p ~/.fonts; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then wget "https://github.com/Kozea/Ahem/blob/master/Ahem.ttf?raw=true" -O ~/.fonts/Ahem.ttf; fi

  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew tap caskroom/fonts; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew upgrade python; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew cask install font-dejavu-sans; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install cairo pango gdk-pixbuf libffi; fi

  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then python -m pip install --upgrade pip setuptools; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then wget "http://repo.msys2.org/distrib/x86_64/msys2-base-x86_64-20180531.tar.xz"; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then 7z e msys2-base-x86_64-20180531.tar.xz; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then msys2-base-x86_64-20180531/msys64/msys2.exe pacman -Syuu; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then msys2-base-x86_64-20180531/msys64/msys2.exe pacman -Su; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then msys2-base-x86_64-20180531/msys64/msys2.exe pacman -S mingw-w64-x86_64-gtk3; fi

install:
  # Needed because of https://github.com/pypa/setuptools/pull/1089
  # Can be removed as soon as setuptools-36.2.0 is not the default version anymore on Travis with Python 3.4
  - pip$PYTHON_VERSION install --upgrade setuptools

script:
  - python$PYTHON_VERSION setup.py test
